@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet');

body {
  font-family: 'Dancing Script', cursive;
  /* background-image: url("./the-money-heist-the-professor-black-dark-hd-wallpaper-thumb.jpg"); */
  background-image: url("./2331346.jpg");
  background-repeat:round;
  background-color:#0b1a2b;
  color: white;
}

h1 {
  font-size: xx-large
}

div {
  font-size: xx-large;
  margin: 0.5rem;
}

section {

  padding: 1rem;
  text-align: center;
}

input {
  margin-block-end: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

}

button {
  padding: 0.5rem;
  width: 20vh;
  font-size: 1rem;
  border-radius: 1rem;
  font-family: 'Dancing Script', cursive;
  font-size: x-large;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#table {
  padding: 1rem;
}

table {
  border-style: groove;
  border-color: black;
  font-size: x-large;

}

.noOfNotes {
  font-size: 20px;
  font-weight: 600;
}

/* footer */
.footer {
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  font-size: x-large;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px
}

/* lists */
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;

}